p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "DM Sans", sans-serif;
}

*::selection {
  background-color: #1ed760;
  color: black;
}

h1 {
  font-size: 24px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::placeholder {
  -webkit-box-shadow: 0 0 0 100px black inset !important;
  -webkit-text-fill-color: white !important;
}
